:not(i) {
    font-family: Arial, sans-serif !important;
}

nav {
    margin-bottom: 30px;
    padding: 17px 28px 17px 28px;
}

.nav-ul {
    display: grid;
    align-items: center;
    grid-template-rows: 30px;
    grid-template-columns: 50px 50px auto 60px 60px 30px 50px;
}

.nav-left {
    justify-self: start;
}

.nav-right {
    justify-self: end;
}

nav a {
    color: #444444; 
    text-decoration: none; 
    font-size: 13px;
}

nav a:hover {
    text-decoration: underline; 
}

.profile-img {
    border-radius: 50%;
}

.app-icon {
    color: 666666;
}

.app-icon:hover {
    color: 000000;
}

#logo {
    justify-self: center;
}

.container {
    padding-top: 50px;
    display: grid;
    grid-template-rows: 100px 45px 30px;
    grid-gap: 20px;
}


form {
    justify-self: center;
    position: relative;
}

#search-form {
    border-radius: 20px; 
    border: 1px solid lightgray;
    width: 550px;
    height: 100%;
    padding-left: 50px;
}

#search-form:hover {
    -webkit-appearance: none;
    box-shadow: 0 0 6px lightgray;
}

#search-form:focus {
    outline:none;
}

.search-icon {
    color: lightgray; 
    position: absolute;
    top: 15px;
    left: 20px;
    font-size: 15px;
}

.microphone-icon {
    position: absolute;
    width: 24px;
    right: 18px;
    top: 11px;
}

button {
    color: darkslategray;
    padding: 10px;
    border: 1px solid transparent; 
    border-radius: 4px;
    font-size: 14px;
    margin: 0 5px 0 5px;
}

button:hover {
    color: black;
    border: 1px solid lightgray;
    border-radius: 4px;
}

#btns {
    justify-self: center;
    margin-top: 10px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #EEEEEE;
}

.footer-nav {
    display: grid;
    align-items: center;
    grid-template-rows: 42px;
    grid-template-columns: 100px 80px 150px auto 70px 70px 80px;
    text-align: center;
    font-size: 14px;
    padding: 0px 30px 0px 30px;
}

footer a {
    color: #666666; 
    text-decoration: none; 
    font-size: 14px;
}

footer a:hover {
    text-decoration: underline; 
}

.footer-left {
    justify-self: start;
 }

 .footer-right {
    justify-self: end;
 }