
a {
    color: #444444; 
    text-decoration: none; 
    font-family: Arial, sans-serif;
    font-size: 13px;
}

a:hover {
    text-decoration: underline; 
}

button {
    color: darkslategray;
    padding: 10px;
    border: 1px solid transparent; 
    border-radius: 4px;
    font-size: 14px;
    margin: 0 5px 0 5px;
}

button:hover {
    color: black;
    border: 1px solid lightgray;
    border-radius: 4px;
}

.container {
    padding-top: 100px;
    display: grid;
    grid-template-rows: 110px 42px 30px;
    grid-gap: 20px;
}

#logo {
    justify-self: center;
}

form {
    justify-self: center;
}

#search-form {
    border-radius: 20px; 
    border: 1px solid lightgray;
    width: 500px;
    height: 100%;
}

#btns {
    justify-self: center;
    
}

#btn1 {
    
}

#btn2 {
    
}

nav {
    margin-bottom: 30px;
    padding:20px;
}

.nav-ul {
    display: grid;
    grid-template-rows: 30px;
    grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
}

.nav-left {
    justify-self: start;
}

.nav-right {
    justify-self: end;
}

.nav-item {
    
}

.profile-img {
    border-radius: 50%;
}

.app-icon {
    background-image: url('//ssl.gstatic.com/gb/images/i1_1967ca6a.png');
    background-size: 528px 68px;
}